@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Regular.eot');
    src: url('/Fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('/Fonts/Poppins-Regular.woff2') format('woff2'),
        url('/Fonts/Poppins-Regular.woff') format('woff'),
        url('/Fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

